<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>学院简介</title>
		<link rel="stylesheet" href="../../../../css/view/AboutCollege.css">
		<script type="text/javascript" src="../../../../js/common/Common.js"></script>
		<script type="text/javascript" src="../../../../js/common/jquery-1.9.1.js"></script>
		<script type="text/javascript" src="HomePage.js"></script>
	</head>
	<body>
		<div class="supwrapper">
			<div class="wrapper">
				<div id="header">
					<a href="#" id="head_logo"></a>
					<div id="head_other">
						<a href="#">留言板</a>
						<a href="#">登录</a>
						<a href="#">注册</a>
					</div>
				</div>
			</div>
		</div>

		<div id="nav" class="supwrapper">
			<div class="wrapper">
				<ul id="nav_fir_ul">
					<li class="nav_first">
						<a href="#">学院简介</a>
						<ul class="nav_sub">
							<li><a href="#">学院介绍</a></li>
							<li><a href="#">学院领导</a></li>
							<li><a href="#">机构设置</a></li>
						</ul>
					</li>
					<li class="nav_first">
						<a href="#">师资力量</a>
						<ul class="nav_sub">
							<li><a href="#">导师列表</a></li>
							<li><a href="#">导师资源</a></li>
						</ul>
					</li>
					<li class="nav_first">
						<a href="#">新闻动态</a>
						<ul class="nav_sub">
							<li><a href="#">学校新闻</a></li>
							<li><a href="#">活动新闻</a></li>
						</ul>
					</li>
					<li class="nav_first">
						<a href="#">办事服务</a>
						<ul class="nav_sub">
							<li><a href="#">入驻申请</a></li>
							<li><a href="#">课程申请</a></li>
							<li><a href="#">课室申请</a></li>
							<li><a href="#">咨询留言</a></li>
						</ul>
					</li>
					<li class="nav_first">
						<a href="#">创客教育</a>
						<ul class="nav_sub">
							<li><a href="#">课程体系</a></li>
							<li><a href="#">讲座论坛</a></li>
							<li><a href="#">实践实训</a></li>
						</ul>
					</li>
					<li class="nav_first">
						<a href="#">创客项目</a>
						<ul class="nav_sub">
							<li><a href="#">创新项目</a></li>
							<li><a href="#">创业项目</a></li>
							<li><a href="#">项目路演</a></li>
						</ul>
					</li>
					<li class="nav_first">
						<a href="#">校企合作</a>
						<ul class="nav_sub">
							<li><a href="#">合作单位</a></li>
							<li><a href="#">合作项目</a></li>
						</ul>
					</li>
					<li class="nav_first" id="nav_no_fir">
						<a href="#">创客之窗</a>
					</li>
				</ul>
			</div>
		</div>
	<div style="clear: both;"></div>
		<div id="column_pic">
			<img src="../../../../images/column/pictures1.png" alt="栏目图片"/>
			<div class="wrapper">
				<h2>主页 > 学院介绍</h2>
				<h1>学院介绍</h1>
			</div>
		</div>
		<div id="section" class="wrapper">
			<div id="sec_sidebar">
				<div id="sec_sidebar_head">
					<h2>学院介绍</h2>
					<div id="sec_temp"></div>
				</div>
				<ul>
					<li class="current"><a href="#sec_article">学院介绍</a></li>
					<li><a href="#">机构设置</a></li>
					<li><a href="#">领导介绍</a></li>
				</ul>
				<div id="sec_tempv1"></div>
			</div>
			<div id="sec_article">
				<div class="sec_article_area" >
					<div class="article_area_title">
						<h2>学院简介</h2>
					</div>
					<div class="article_area_content">
						<p>广东工业大学坚持“与广东崛起共成长、为广东发展作贡献”的办学理念，不断创新人才培养模式，努力为学生“植入创新因子，播种创业种子”，实现以“创新引领创业，创业带动就业”的创新创业工作目标。尤其是把创新创业教育和实践能力培养有效贯穿人才培养全过程，探索出一条面向产业锻造学生创新创业能力，面向社会构筑学生创新创业实践平台，面向粤港共建创新创业学院（创客学院）的协同创新创业教育特色之路。</p>
						<p>
2014年6月，揭牌成立了广东工业大学创新创业学院，2015年成立“创客学院”，与创新创业学院合署办公，统筹规划创新创业教育，积极借助与香港科技大学联合承办第十四届“挑战杯”全国大学生课外学术科技作品竞赛的契机，推进两岸四地区域政府、风投基金、行业协会的共建模式。</p>

					</div>
				</div>
				<div class="sec_article_area">
					<div class="article_area_title">
						<h2>学院职能</h2>
					</div>
					<div class="article_area_content">
					<ol>
						<li>统筹协调学生创新精神和实践能力的理论教育、实践训练；</li>
<li>统筹协调学生创业意识和能力的教育、实训，和创新创业项目的孵化和转化；</li>
<li>对接校内外创新创业教育、实践和孵化平台；</li>
<li>对接引进港澳台等地优秀大学生创新创业项目与我校学生联合孵化和转化。</li>
</ol>

					</div>
				</div>
				<div class="sec_article_area">
					<div class="article_area_title">
						<h2>使命定位</h2>
					</div>
					<div class="article_area_content">
						<p><b>人才培育苗圃：</b>国内领先的创新创业人才培育苗圃；</p>
<p><b>粤港交流平台：</b>有较大影响的社会及企业精英和粤港学生的创新创业交流平台；</p>
<p><b>创业示范基地：</b>科技创新成果产业化及创业实践的示范孵化基地；建设国家级创业带动就业孵化基地;</p>
<p><b>创新研究中心：</b>创新创业科学研究及教育研究中心。</p>



					</div>
				</div>
			</div>
		</div>
		


	</body>
</html>