<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
     <welcome-file-list>
    <welcome-file>/showHomePage</welcome-file>
  </welcome-file-list>
  <display-name>GDUTHackerSpace</display-name>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <filter>
    <filter-name>exception</filter-name>
    <filter-class>com.hackerspace.filter.ExceptionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>exception</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>message</filter-name>
    <filter-class>com.hackerspace.filter.MessageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>message</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>charater</filter-name>
    <filter-class>com.hackerspace.filter.HTMLCharacterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>charater</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>manager</filter-name>
    <filter-class>com.hackerspace.filter.ManagerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>manager</filter-name>
    <url-pattern>/Web/jsp/Manager/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>user</filter-name>
    <filter-class>com.hackerspace.filter.UserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>user</filter-name>
    <url-pattern>/Web/jsp/View/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>400</error-code>
    <location>/WEB-INF/400.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/500.jsp</location>
  </error-page>
</web-app>